.art {
  width: 70%;
  margin: auto;
}

.images-body {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.image-container {
  margin: auto;
  padding: 1rem;
}

.art-image {
  max-width: 400px;
  max-height: 400px;
  min-width: 200px;
  min-height: 200px;
  width: 80%;
  height: 80%;
}
