.buy {
  width: 70%;
  margin: auto;
}

.buy p a {
  color: white;
  margin-bottom: 1rem;
}

.buy p a:hover {
  color: red;
}

#buy-button-container {
  margin: 1rem;
  color: transparent;
  background-color: transparent;
  border: none;
}

#buy-button {
  font-family: "Patua One", "Times New Roman", Times, serif;
  font-size: 16pt;
  background-color: #63380c;
  padding: 1rem;
  text-decoration: none;
  color: white;
}

#buy-button:hover {
  background-color: #3c2208;
  color: red;
}
