.buy {
  width: 70%;
  margin: auto;
}

.buy p a {
  color: white;
  margin-bottom: 1rem;
}

.buy p a:hover {
  color: red;
}

#buy-button-container {
  margin: 1rem;
  color: transparent;
  background-color: transparent;
  border: none;
}

#buy-button {
  font-family: "Patua One", "Times New Roman", Times, serif;
  width: 300px;
  font-size: 16pt;
  background: linear-gradient(to right, black 0%, #3c2208 10%, #63380c 50%, #3c2208 90%, black 100%);
  padding: 1rem;
  text-decoration: none;
  color: white;
}

#buy-button:hover {
  background: linear-gradient(to right, black, #3c2208, black);
  color: red;
}
