body {
  color: white;
  background-color: black;
  font-family: "Patua One", serif, "Old Standard TT", serif, "Times New Roman",
    Times, serif;
  text-align: center;
}

p {
  font-size: 16pt;
}

h2 {
  font-size: 22pt;
}
