.navbar {
  text-align: center;
  background: linear-gradient(to right, black, #63380c, black);
  font-size: 16pt;
}

.navbar-body {
  list-style: none;
  display: flex;
  width: 50%;
  margin: auto;
  justify-content: space-evenly;
}

.navbar-body li {
  padding: 1rem;
  transition-duration: 0.25s;
}

.navbar-body li:hover {
  background-color: #351d06;
}

.navbar-body li a {
  text-decoration: none;
  color: white;
}

.navbar-body li a:hover {
  cursor: pointer;
  animation: flicker 2s linear infinite;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.5;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0.5;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  92% {
    opacity: 0.5;
  }
  94% {
    opacity: 1;
  }
  96% {
    opacity: 0.5;
  }
  98% {
    opacity: 1;
  }
}
